<launch>

  <arg name="rvizconfig" default="$(find quadruped)/rviz/urdf.rviz" />

  <!-- gazebo simulation launch file -->
	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="model" default="$(find quadruped)/urdf/quadruped_model.xacro" />
  <!--arg name="model" default="$(find quadruped)/urdf/simple_model.xacro" /-->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find quadruped)/worlds/quadruped.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot  respawn="false" output="screen"-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model quadruped"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find quadruped)/config/quadruped_control.yaml"/>

  <!-- load the controllers joint_trajectory_controller-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/quadruped" args="joint_trajectory_controller"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/quadruped/joint_states" />
    <param name="publish_frequency" type="double" value="60.0" />
  </node>

</launch>
